<h1><%= @target.name %></h1>

<h2>Instructions</h2>
<p>
    <%= @target.instructions.length %> unique instruction variants
</p>

<h2>Registers</h2>
<p>
    <%= @target.registers.length %> known registers:
    <ul>
        <% @target.registers.each do |_, reg| %>
            <li><%= reg.name %></li>
        <% end %>
    </ul>
</p>
<p>
    <%= @target.register_classes.length %> known register classes:
    <ul>
        <% @target.register_classes.each do |_, reg_class| %>
            <li>
                <%= reg_class.name %>:
                <ul>
                    <% reg_class.members.each do |member| %>
                        <li><%= member.name %></li>
                    <% end %>
                </ul>
            </li>
        <% end %>
    </ul>
</p>

<h2>Operand Types</h2>
<p>
    <%= @target.operand_types.length %> operand types:
    <ul>
        <% @target.operand_types.each do |_, reg| %>
            <li><%== reg.inspect %></li>
        <% end %>
    </ul>
</p>
