<div id="target-index-root">
</div>

<div id="content">
    <div id="filter-view">
        <div id="static-panel">
            <div id="title-bar" class="already-in-padded-container">
                <a href="/" id="home-link">
                    <img src="/logo.svg" alt="Archer logo" />
                </a>

                <div>
                    <h1><%= @target.title %></h1>
                    <small>
                        <a href="info">Architecture Info</a>
                    </small>
                </div>

                <% if @target.assembly_variants.length > 1 %>
                    <select id="assembly-variant-selector" onchange="window.refreshFilters()">
                        <% @target.assembly_variants.each.with_index do |name, i| %>
                            <option value="<%= i %>"><%= name %></option>
                        <% end %>
                    </select>
                <% end %>
            </div>
            
            <div id="filter-panel">
                <div id="inner-filter-panel">
                    <h2>Search</h2>
                    <form method="GET">
                        <div>
                            <label>
                                <b>Mnemonic:</b>
                                <br>
                                <input name="mnemonic" id="input-mnemonic-filter" oninput="window.refreshFilters()" onchange="window.refreshFilters()" />
                            </label>
                        </div>
                        <br>

                        <div>
                            <b>Memory:</b>
                            <label>
                                <input name="store" id="input-store-filter" type="checkbox" onchange="window.refreshFilters()" />
                                Store
                            </label>
                            <label>
                                <input name="load" id="input-load-filter" type="checkbox" onchange="window.refreshFilters()" />
                                Load
                            </label>
                        </div>

                        <div>
                            <br/>
                            <b>Operands:</b>
                            <table class="filter-table">
                                <tr>
                                    <td></td>
                                    <td class="checkbox-cell"><b>Input</b></td>
                                    <td class="checkbox-cell"><b>Output</b></td>
                                </tr>

                                <tr>
                                    <td class="label-cell align-end">
                                        <i>
                                            <abbr title="Filter to instructions which do not have any input/output operands">None</abbr>
                                        </i>
                                    </td>
                                    <td class="checkbox-cell">
                                        <input id="input-operand-input-none-filter" type="checkbox" onchange="window.refreshFilters()" />
                                    </td>
                                    <td class="checkbox-cell">
                                        <input id="input-operand-output-none-filter" type="checkbox" onchange="window.refreshFilters()" />
                                    </td>
                                </tr>

                                <% @target.operand_type_families.each do |_, ty| %>
                                    <tr>
                                        <td class="label-cell align-end">
                                            <mark style="<%= ty.colour.css_text_style %>">
                                                <%= ty.name %>
                                            </mark>
                                        </td>
                                        <td class="checkbox-cell">
                                            <input class="input-operand-input-filter" data-operand-name="<%= ty.name %>" type="checkbox" onchange="window.refreshFilters()" />
                                        </td>
                                        <td class="checkbox-cell">
                                            <input class="input-operand-output-filter" data-operand-name="<%= ty.name %>" type="checkbox" onchange="window.refreshFilters()" />
                                        </td>
                                    </tr>
                                <% end %>
                            </table>
                        </div>

                        <% if @target.predicates.any? %>
                            <div>
                                <br/>
                                <b>Capabilities:</b> <!-- LLVM calls them "Predicates", but that's a weird name for a user-facing filter -->

                                <button type="button" onclick="selectNoPredicates()">None</button>
                                <button type="button" onclick="selectAllPredicates()">All</button>

                                <table class="filter-table">
                                    <tr>
                                        <td class="checkbox-cell">
                                            <input id="input-predicate-none-filter" type="checkbox" onchange="window.refreshFilters()" checked />
                                        </td>
                                        <td class="label-cell">
                                            <b><abbr title="Include instructions which require no additional processor capabilities">None</abbr></b>
                                        </td>
                                    </tr>

                                    <% @target.predicates.values.uniq(&:friendly_name).each do |pred| %>
                                        <tr>
                                            <td class="checkbox-cell">
                                                <input class="input-predicate-filter" data-predicate-name="<%= pred.friendly_name %>" type="checkbox" onchange="window.refreshFilters()" checked />
                                            </td>
                                            <td class="label-cell">
                                                <% if pred.important? %>
                                                    <b><%= pred.friendly_name %></b>
                                                <% else %>
                                                    <%= pred.friendly_name %>
                                                <% end %>
                                            </td>
                                        </tr>
                                    <% end %>
                                </table>
                            </div>
                        <% else %>
                            <!-- JS expects to find this element -->
                            <input style="display: none;" id="input-predicate-none-filter" type="checkbox" onchange="window.refreshFilters()" checked />
                        <% end %>
                    </form>
                </div>
            </div>
        </div>

        <div id="filter-view-divider"></div>

        <div id="filter-results">
            <hr id="filter-results-divider" />
            <div id="instruction-results">
                <!--
                    Magical loading indicator.
                    This will disappear the first time the results are able to refresh.
                    This also has an ID so it can be turned into an error if something goes wrong
                -->
                <div class="result-card" id="instruction-data-loading-indicator">
                    <b>Loading data...</b>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    globalThis.targetName = "<%= @target.name %>";
</script>
<script src="/js/bundle.js"></script>
